<mirrors>
  <!-- Mirror for JCenter -->
  <mirror>
    <id>jcenter</id>
    <mirrorOf>*</mirrorOf>
    <url>https://jcenter.bintray.com/</url>
    <blocked>false</blocked>
    <releases>
      <enabled>true</enabled>
    </releases>
    <snapshots>
      <enabled>true</enabled>
    </snapshots>
  </mirror>
</mirrors>